# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
main

# Output folders
/bin/
/build/
/dist/

# Go workspace files
go.work
go.work.sum

# IDE / Editor
.vscode/
.idea/
*.swp

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# OS specific
.DS_Store
Thumbs.db

# Vendor (opsional jika pakai go modules)
vendor/